
$white: #fff;
$black: #000;

// Create grayscale
$gray:                      #333333;
$gray-light:                #999999;
$gray-lighter:              #cccccc;
$gray-bg:					#f8f8f8;


// Reassign color vars to semantic color scheme
$brand-primary:             #f38181;
$brand-2:           		#fce38a;
$brand-3:					#eaffd0;
$brand-4:					#95e1d3;


$brand-info:                $brand-4;


$btn-primary-color:              $white;
$btn-primary-bg:                 transparent;
$btn-primary-border:             $white;

// $btn-secondary-color:            $gray-dark !default;
// $btn-secondary-bg:               $white !default;
// $btn-secondary-border:           #ccc !default;


/////////////////
///////////////////////////////////////////


$link-color:            $white;
$link-hover-color:      $brand-primary;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;



$font-size-h1: 9.375rem;
$font-size-h2: 4.5rem;
$font-size-h3: 1.875rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.125rem;
$font-size-h6: 0.875rem;


$lead-font-size:   1.5rem;
$lead-font-weight: 300;


$small-font-size: 80% !default;

$text-muted: $gray-lighter;

// Settings for the `<body>` element.


$body-color:    $gray;
$inverse-color: $white;;





$enable-rounded: 	false;



// Navbar


$navbar-brand-padding-y:            .25rem !default;

$navbar-toggler-padding-x:           .75rem !default;
$navbar-toggler-padding-y:           .25rem !default;;

$navbar-inverse-color:                 rgba($white,1);
$navbar-inverse-hover-color:           rgba($white,.75) !default;
$navbar-inverse-active-color:          rgba($white,1) !default;


// Navs

$nav-item-margin:               .2rem !default;
$nav-item-inline-spacer:        1rem !default;
$nav-link-padding:              .5em 1em !default;
$nav-link-hover-bg:             $gray-lighter !default;
$nav-disabled-link-color:       $gray-light !default;
