// BASE
* {box-sizing: border-box;}

h1, h3, h5, h6 {font-family: 'Montserrat', sans-serif;}

h2,h4 {font-family: 'Kaushan Script', cursive;}

h1,h3 {font-weight: 700;}

h5, h6 {font-weight: 400;}

p { font-size: 0.9375rem;
	font-weight: 400;
	color: $gray-light;}

img {width: 100%;}


//SHAPES
.line {
	background-color: $brand-primary;
	width: 60px;
	height: 3px;
	display: block;
	margin: 1.875rem auto;
}

.line-white {
	@extend .line;
	background-color: $white;
}

.line-small {
	width: 57px;
	margin: 0.5rem auto; 
}


//GRADIENT HOVER
.gradient-container,
.gradient-container-move {
	position: relative;
	// z-index: 1;
}
.gradient-content {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(243,129,129,0.9);
	background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
	// z-index: 100;
}

.gradient-container-move:hover {
	transform: translate(-7px, -7px);
	box-shadow: 7px 7px 0 $brand-4;
	& .gradient-content{
		// display: block;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
} 

.gradient-container:hover .gradient-content {
	// display: block;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

//BANNER
#banner {
	background: url(../img/banner2.jpg) no-repeat center;
	background-size: cover;
	// height: 100vh;
	// width: 100vw;

	.gradient-content {
		display: block;
	}
}
//MAIN NAV
#main-nav {
	.nav-link {
		display: block;
		text-transform: uppercase;
		margin: 0 0.8rem 0;
		padding-bottom: 1rem;
		padding-top: 1.5rem;
		&:hover {
			color: $brand-2;
			border-bottom: 2px solid $brand-2;
			padding-bottom: calc(1rem - 2px);
		}
		@media screen and (max-width: 992px) {
			
			padding: 0.75rem 0;
			&:hover {
				border-bottom: none;
				padding-bottom: 0.75rem;
			}
		}
	}
}

.logo {
	font-size: 1.875rem;
	font-weight: 800;
	padding-bottom: 0.8rem;
}

//BANNER CONTENT
.banner-content {
		text-align: center;
		margin: 4rem 0;
		.btn {
			border: 1px solid $white;
			border-radius: 0;
			font-weight: 700;

			&:hover {
				background-color: $white;

			}
		}
		@media screen and (max-width: 992px) {
			h1 {
				font-size: 13vw;
			}
			h2 {
				font-size: 6vw;
			}
		}
}

//BANNER SLIDER
.banner-slider {
	padding: 1rem 0;
	.line-progress {
		display: block;
		width: 100%;
		height: 2px;
		background-color: $white;
		margin-bottom: 0.5rem;
	}
	span {
		font-weight: 700;
		font-size: 1.5rem;
		color: $white;
	}
	a {
		font-weight: 400;
		text-transform: uppercase;
		font-size: 1.125rem;
	}
}




//FEATURES GENERAL

.feature-content {
	padding: 6rem 0;
}

.feature-heading {
	text-align: center;
	
}

//FEATURE ONE
.images-container {
	margin-top: 5rem;
	h5 {
		font-weight: 700;
		margin-top: 0.5rem;
	}
	& > div {
		margin-bottom: 1.25rem;
	}
}
.icon {
	display: block;
	width: 30px;
}
// JUMB 1
#jumbotron-one {
	background-color: $brand-4;
	text-align: center;
	.container {
		flex-wrap: wrap;
	}
	.numbers {
		flex: 1 1 20%;
		align-items: center;
		padding: 3.5rem 0.5rem;
		border: 1px solid lighten($brand-4, 10%);
		// border-top: none;
		// border-bottom: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		h2 {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
		}
		@media screen and (max-width: 768px) {
			flex: 1 1 33%;
		}
	}

	
}
//FEATURE TWO
#feature-two {
	.media {
		padding: 0 0.8rem;
		margin-top: 2rem;
	}
	img {
		width: 30px;
		margin-right: 1rem;
		margin-top: 0.25rem;
	}

	h6 {
		text-transform: uppercase;
	}
}

// FEATURE THREE
#feature-three {
	background: url("../img/bg.jpg") no-repeat center;
	background-size: cover;
	.feature-content {
		padding-bottom: 0;
	}
	img {
		margin-top: 1.5rem;
		margin-bottom: calc(-14% - 2px);
	} 
}



//FEATURE FOUR
#feature-four {
	.feature-content {
		padding-top: 8.5rem;
	}
	.card {
		// margin-bottom: 0.5rem;
		a {
			color: $gray;
		}
		&-header {
			display: flex;
			align-items: center;	
		}
		img {
			width: 30px;
			margin-right: 1rem;
		}
		&-block {
			max-height: 10.5rem;
			overflow-y: scroll;
			&::-webkit-scrollbar {
				width: 5px;
			}
			&::-webkit-scrollbar-track {
			      background-color: $gray-lighter;
			}
			&::-webkit-scrollbar-thumb {
				background-color: $brand-4;
			}
			&::-webkit-scrollbar-button {
			      background-color: $white;
			}  
			// &::-webkit-scrollbar-corner {
			//       background-color: black;
			// }
		}
	}
	.collapse-arrow {
		margin-left: auto;
		width: 30px;
		height: 30px;
		background: url(../img/arrow-up.png) no-repeat center;
		transition: 0.4s;
	}
	.collapsed .collapse-arrow {
		color: white;
		background: url(../img/arrow-down.png) no-repeat center;
	}
}

//JUMBOTRON 2
#jumbotron-two {
	background-color: $gray-bg;
	
	.carousel-control-prev-icon {
		background-image: url(../img/arrow-left.png);
		background-size: 12px;
		margin-left: 0.5rem;

	}
	.carousel-control-next-icon {
		background-image: url(../img/arrow-right.png);
		background-size: 12px;

		margin-right: 0.5rem;
	}
	.carousel-control-prev,
	.carousel-control-next {
		width: 7%;
		color: $gray-light;
		justify-content: flex-end;
	}
	.carousel-control-prev {
		justify-content: flex-start;
	}
}
.carousel-item-1 {
	img {
		width: 150px;
		border: 2px solid $brand-4;
		padding: 2rem;
	}
}
.carousel-item {
	img {
		
		margin-right: 2rem;
	}
	.line, h4 {
		display: inline-block;
		margin: 0.5rem;
	}
	.media {
		padding: 4rem 6rem;
	} 

}

// FEATURE FIVE
#feature-five {

}

.our-team-icons {

	a:hover {
		text-decoration: none;
	}
	.fa {

		display: block;
		padding: 1rem;
		font-size: 1.75rem;
		background-color: $brand-2;
		color: $brand-primary;
		border-left: 1px solid $brand-primary;
		&-facebook {
			border-left: none;
			padding: 1rem 1.3rem;
		}

		&:hover {
			color: $white;
			background-color: $brand-primary;
		}
	}

}

//JUMB 3
#jumbotron-three {
	background-color: $gray-bg;
	padding: 3rem 0;
	a:hover .logo-client {
		transform: scale(0.9);
		// background-size: 110%;
	}
	@media screen and (max-width: 310px) {
		display: none;
	}
}
.logo-client {
	margin: 1rem auto;
	width: 135px;
	height: 145px;
	background: url(../img/logos.png) no-repeat;
	border-radius: 50%
	
}
.logo-client-2 {
	background-position: 0 0;
}

.logo-client-2 {
	background-position: -215px 0;
}

.logo-client-3 {
	background-position: -420px 0;
}

.logo-client-4 {
	background-position: -642px 0;
}

.logo-client-5 {
	background-position: -850px 0;
}

.logo-client-6 {
	background-position: -1070px 3px;
}

// FEATURE 6
#feature-six {
	.container-fluid {
		padding: 0;
		margin-bottom: -3px;
		z-index: 400;
		position: relative;
	}
}




//JUMB 4
#jumbotron-four {
	@extend #jumbotron-two;
	background-color: $white;
	z-index: 500;
	position: relative;
}

.carousel-item-2 {
	img {
		width: 200px;
	}
	.media {
		padding: 4rem;
	} 
}

// FEATURE 7
#feature-seven {
	background: url("../img/bg-2.jpg") no-repeat center;
	background-size: cover;
	.feature-heading {
		margin-bottom: 5rem;
	}
}

.media-clients {
	padding: 2rem 1rem;
	h6 {
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 0.5rem;
	}
	.font-italic {
		color: $gray;
		margin-bottom: 0.25rem;
	}

	img {
		width: 110px;
		margin-right: 2rem;
	}

	.line {
		display: inline-block;
	}
}


//FEATURE 8
#feature-eight {
	.card {
		border: none;
		position: relative;
		&-block {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.icon-blog {
	width: auto;
	display: inline-block;
	&-text {
		display: inline-block;
		padding: 0 0.5rem 0 0.25rem;
	}
}


.square-blog {
	

	width: 60px;
	height: 70px;
	background-color: $brand-4;
	padding: 0.35rem;
	top: auto;
	left: -10px;
	bottom: 10px;
	&-container {
		position: relative;
	}

	p {
		color: $white;
		margin: 0;
		text-align: center;
	}

	&-text {
		font-size: 1.875rem;
		font-weight: 700;
		font-family: 'Montserrat', sans-serif;
		margin-bottom: -0.7rem!important;
	}
}

// JUMB 5
#jumbotron-five {
	background: url("../img/map.jpg") no-repeat center;
	background-size: cover;
	padding: 5rem 0;
	a:hover {
		text-decoration: none;
	}
	a:hover h4{
		transform: scale(1.2);
	}
	img {
		width: auto;
	}
	.line {
		margin-bottom: 0;
	}
	h4 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		color: $brand-primary;
		margin-top: 1rem;
	}
}


//FOOTER
#footer-main {
	padding-bottom: 4rem;
}

.footer-main-info {
	padding-top: 4rem;
	h3 {
		font-size: 2.875rem;
	}
	h5, h6 {
		display: inline-block;
	}
	h5 {
		font-weight: 700;
	}
	hr {
		width: 85%;
	}
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	
	.nav-link {
		padding: 0.5em 0.5em;
	}
	.fa {
		color: $brand-4;
		font-size: 1.125rem;
	}
	p {
		margin: 0;
		padding-top: 0.5rem;
	}
}

.footer-subscribe {
	align-items: stretch;
	button {
		text-transform: uppercase;
		padding: 0.75em 1.75em;
	}
	input {
		&::placeholder {
			font-size: 0.9rem;
			font-style: italic;
			font-family: 'Roboto', sans-serif;
			color: $gray-lighter;

		}
	}
}

.footer-main-blog {
	padding: 4rem 0 0 0.5rem;
	a{
		color: $gray;
	}
	a:hover {
		// text-decoration: none;
	}
	.media {
		margin-top: 1.5rem;
		img {
			width: auto;
		}
		h6 {
			font-size: 0.75rem;
			line-height: 1.5;
		}
		p {
			font-size: 0.8125rem;
		}
	}
}

.footer-main-instagram {
	padding: 4rem 0 0 0.5rem;
	img {
		max-width: 400px;
		display: block;
	}
	a {
		color: $gray-light;
		font-size: 0.875rem;

	}
	a:hover {
		text-decoration: none;
		color: $brand-primary;
	}
}

#footer-bottom {
	text-align: center;
	border-top: 1px solid $gray-lighter;
	padding: 2rem 0;
	h6 {
		font-weight: 700;
		a {
			color: $brand-primary;
		}
	}
}

////////////empty////////////


.empty {
	height: 500px;
	background-color: lighten(green, 50%);
	z-index: 500;
	position: relative;
}