@import "0-plugins/plugins-dir";


// 1 - Load project variables.
// 2 - Load bootstrap sass files.
// 3 - Load custom app sass files.

// --------------------------------------------------------
//  Import in the default bootstrap variables.
//  Then override bootstrap default with project specific values.
// --------------------------------------------------------

@import "customVariables";  //// MY CUSTOM VARIABLES ////

@import "0-plugins/bootstrap/variables";


// --------------------------------------------------------
// Import required bootstrap sass files needed for this project.
// Uncomment any bootstrap functionality required for this project.
// The idea is to keep this as small as possible.
// --------------------------------------------------------*/

/* --------------------------------------------------------
   Core mixins
   -------------------------------------------------------- */

@import "0-plugins/bootstrap/mixins";
// @import "0-plugins/bootstrap/custom";


/* --------------------------------------------------------
   Reset and dependencies
   -------------------------------------------------------- */

@import "0-plugins/bootstrap/normalize";
@import "0-plugins/bootstrap/print";



/* --------------------------------------------------------
   Core CSS
   -------------------------------------------------------- */

@import "0-plugins/bootstrap/reboot";
@import "0-plugins/bootstrap/type";
//@import "0-plugins/bootstrap/images";
//@import "0-plugins/bootstrap/code";
@import "0-plugins/bootstrap/grid";
//@import "0-plugins/bootstrap/tables";
@import "0-plugins/bootstrap/forms";
@import "0-plugins/bootstrap/buttons";



/* --------------------------------------------------------
   Components
   -------------------------------------------------------- */

@import "0-plugins/bootstrap/transitions";
@import "0-plugins/bootstrap/dropdown";
//@import "0-plugins/bootstrap/button-group";
@import "0-plugins/bootstrap/input-group";
//@import "0-plugins/bootstrap/custom-forms";
@import "0-plugins/bootstrap/nav";
@import "0-plugins/bootstrap/navbar";
@import "0-plugins/bootstrap/card";
//@import "0-plugins/bootstrap/breadcrumb";
//@import "0-plugins/bootstrap/pagination";
//@import "0-plugins/bootstrap/badge";
//@import "0-plugins/bootstrap/jumbotron";
//@import "0-plugins/bootstrap/alert";
//@import "0-plugins/bootstrap/progress";
@import "0-plugins/bootstrap/media";
@import "0-plugins/bootstrap/list-group";
//@import "0-plugins/bootstrap/responsive-embed";
@import "0-plugins/bootstrap/close";



/* --------------------------------------------------------
   Components w/ JavaScript
   -------------------------------------------------------- */

//@import "0-plugins/bootstrap/modal";
//@import "0-plugins/bootstrap/tooltip";
//@import "0-plugins/bootstrap/popover";
@import "0-plugins/bootstrap/carousel";



/* --------------------------------------------------------
   Utility classes
   -------------------------------------------------------- */

@import "0-plugins/bootstrap/utilities";



/* --------------------------------------------------------
   Custom application specific styles
   -------------------------------------------------------- */

@import "customFonts";
@import "customMixins";
@import "customStyles";